[core]
	excludesfile = ~/.gitignore_global
[clean]
	requireForce = false
[commit]
	verbose = true
[alias]
	ci = commit
	st = status
	co = checkout
	b = branch
	m = merge
	f = fetch
	p = pull
	undo = reset --soft HEAD^
	recent = !git reflog show --pretty=format:'%gs ~ %gd' --date=relative | grep 'checkout:' | grep -oE '[^ ]+ ~ .*' | awk -F~ '!seen[$1]++' | head -n 10 | awk -F' ~ HEAD@{' '{printf(\"  \\033[33m%s: \\033[37m %s\\033[0m\\n\", substr($2, 1, length($2)-1), $1)}'
[include]
	path = .gitconfig.local
[help]
	autocorrect = 30
[gui]
	fontdiff = -family Iosevka -size 12 -weight normal -slant roman -underline 0 -overstrike 0
[pull]
	ff = only
[user]
	email = contact@angelcarballo.com
	name = Angel Carballo
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
