[core]
	excludesfile = ~/.gitignore_global
[clean]
	requireForce = false
[commit]
	verbose = true
[alias]
	ci = commit
	st = status
	co = checkout
	b = branch
	m = merge
	f = fetch
	p = pull
	undo = reset --soft HEAD^
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color]
	ui = always
[include]
	path = .gitconfig.local
[help]
	autocorrect = 30
[gui]
	fontdiff = -family Iosevka -size 12 -weight normal -slant roman -underline 0 -overstrike 0
[pull]
	ff = only
[user]
	email = contact@angelcarballo.com
	name = Angel Carballo
