.netrwhist
cheats/community
vim/.vim/backup/
vim/.vim/temp/
vim/.vim/undo/
vim/.vim/plugged/
vim/.vim/pack/minpac/start/
vim/.vim/pack/minpac/opt/
tmux/.tmux/plugins/
emacs/.emacs.d/
!emacs/.emacs.d/init.el
!emacs/.emacs.d/.gitignore
!emacs/.emacs.d/lib
node_modules/
.git/
Brewfile.lock.json
_build/
