snippet erb	"html eruby tag" w
<%= $1 %>
endsnippet

snippet t "basic html tag" bw
<${1:div}>
	$2
</${1/(\w+).*/$1/}>
endsnippet

snippet it "basic inline html tag" w
<${1:div}>$2</${1/(\w+).*/$1/}>
endsnippet

snippet rowfluid	"html eruby tag"
<div class="rowfluid">
	<div class="span6"> 
		$1
  </div>
	<div class="span6"> 
  </div>
</div>
endsnippet
