# Make vi insert/command modes more visible in prompts
set show-mode-in-prompt on
set vi-cmd-mode-string "\1\e[2 q\2• "
set vi-ins-mode-string "\1\e[6 q\2"

set editing-mode vi

set keymap vi-insert

"\C-n": history-search-backward
"\C-p": history-search-forward

$if mode=vi
        "kj": vi-movement-mode
        "\C-b": beginning-of-line
$endif
